<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="css/mobile.css">
    <script src="https://kit.fontawesome.com/987ba4e8ad.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <!-- header section -->
    <nav id="navbar">
        <header id="header">
            <div class="logo"><img src="images/logo-dailyblog.png" alt=""></div> 
            <ul class="navitems">
                <li class="items"><a href="/home">Home</a></li>
                <li class="items"> <a class="current-a" href="#">About</a></li>
                <li class="items"><a href="/contact">Contact</a></li>
                <li class="items"><a href="/compose">New</a></li>
            </ul>
        </header>
    </nav>
    <!-- main about section -->
    <div class="team-section">
        <div class="inner-width">
            <h1>Meet Our Team</h1>
            <div class="pers">


                <div class="pe">
                    <img src="/images/person1.jpg" alt="p1">
                    <div class="p-name">John colt</div>
                    <div class="p-des">Designer</div>
                    <div class="p-sm">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="pe">
                    <img src="/images/person2.jpg" alt="p1">
                    <div class="p-name">Steve Austin</div>
                    <div class="p-des">Developer</div>
                    <div class="p-sm">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="pe">
                    <img src="/images/person3.jpeg" alt="p1">
                    <div class="p-name">Himanshu</div>
                    <div class="p-des">Designer</div>
                    <div class="p-sm">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="pe">
                    <img src="/images/person4.jpg" alt="p1">
                    <div class="p-name">will wolford</div>
                    <div class="p-des">Team head</div>
                    <div class="p-sm">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>