<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="css/mobile.css">
     <script src="https://kit.fontawesome.com/987ba4e8ad.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <!-- header section -->
    <header id="header1">
        <div class="header-container">
            <div class="logo"><img src="images/lolgo-dailyblog.png" alt=""></div> 
            <ul class="navitems">
                <li class="items"><a href="/"><i class="fas fa-home"></i>Home</a></li>
                <li class="items"> <a class="current" href=""><i class="fas fa-phone-alt"></i>Contact</a></li>
                <li class="items"><a href="about.html"><i class="fas fa-users"></i>About</a></li>
                <li class="items"><a href="compose.html"><i class="fas fa-plus "></i></a></li>
            </ul>
        </div>
    </header>

    <!-- main contactsection -->
    <main id="contact">
        <div class="contact-info">
        <div class="card">
            <i class="card-icon far fa-envelope"></i>
            <p>pathakh035@gmail.com</p>
        </div>
        <div class="card">
            <i class="card-icon fa fa-phone"></i>
            <p>+919536660371</p>
        </div>
        <div class="card">
            <i class="card-icon fas fa-map-marker-alt"></i>
            <p>Dehradun, India</p>
        </div>
    </div>
    </main>
</body>
</html>