<%- include("Partials/editPageHeader"); -%>
<div class="container-popular">
        <!-- corona -->
 <% if(link=== "Coronavirus") { %>     
    <div class="corona-post">
        <div class="inner-corona-post">
            <h1>Coronavirus</h1>
            <div class="border-bottom"></div>
            <a href=""><p>Trending #1</p></a>
             <small>
                    <i class="fas fa-user">Wriiten by himanshu pathak April 15, 2020</i>
             </small>
            <h2>Overview</h2>
              <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</p>

              <p>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.</p>

              <p>The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. </p>

              <p> The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).</p>

              <p> At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing clinical trials evaluating potential treatments. WHO will continue to provide updated information as soon as clinical findings become available.</p>
            <h2>Prevention</h2>
            <p>To prevent infection and to slow transmission of COVID-19, do the following:
                <ul><li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li></ul>
                <ul><li>Maintain at least 1 metre distance between you and people coughing or sneezing.</li></ul>
                <ul><li> Avoid touching your face.</li></ul>
                <ul><li> Cover your mouth and nose when coughing or sneezing.</li></ul>
                <ul><li>Stay home if you feel unwell.</li></ul>
                <ul><li>Refrain from smoking and other activities that weaken the lungs.</li></ul>
                <ul><li> Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li></ul>
               </p>
            <h2>Symptoms</h2>
            <p>COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.

                Most common symptoms:
               <ul><li>fever.</li></ul>
               <ul><li> dry cough.</li></ul>
               <ul><li>tiredness.</li></ul>
          
                Less common symptoms:
                <ul><li>aches and pains.</li></ul>
                <ul><li>sore throat.</li></ul>
                <ul><li>diarrhoea.</li></ul>
                <ul><li>diarrhoea.</li></ul>
                <ul><li>headache.</li></ul>
                <ul><li>loss of taste or smell.</li></ul>
                <ul><li>a rash on skin, or discolouration of fingers or toes.</li></ul>
              
                Serious symptoms:
                <ul><li>difficulty breathing or shortness of breath.</li></ul>
                <ul><li> chest pain or pressure.</li></ul>
                <ul><li>loss of speech or movement.</li></ul>
       
                Seek immediate medical attention if you have serious symptoms.  Always call before visiting your doctor or health facility. 

                People with mild symptoms who are otherwise healthy should manage their symptoms at home. 

                On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days</p>
                   
        </div>
     </div>
  <% }else if(link=== "India") { %>
    <!-- india lockdown -->
    <div class="india-lockdown">
        <h1 class="opacity-down">Lockdown 5.0</h1>
         <div class="border-bottom"></div>
        <h1>Lockdown 5.0 may be relaxed further: States to decide on malls, restaurants</h1>
       
        <p>The government may also consider relaxing night curfew hours based on suggestions from health experts. “It (decision to impose curfew from 7 pm to 7 am) is not exactly based on technical considerations of health. There is no harm if it is extended at least to 9 pm,” said an official</p>
        <img src="/images/lockdown.jpg" alt="">
        <small>
        <i class="fas fa-user">Wriiten by himanshu pathak April 15, 2020</i>
        </small>
        <p>THE NEXT phase of lockdown, to kickstart from Monday, is likely to prune the list of prohibited activities further and allow states to decide on opening of malls and multiplexes, places of worship, and dine-in restaurants, The Indian Express has learnt.</p>
        <p>The government may also consider relaxing night curfew hours based on suggestions from health experts. “It (decision to impose curfew from 7 pm to 7 am) is not exactly based on technical considerations of health. There is no harm if it is extended at least to 9 pm,” said an official.</p>
    </div>
 <% }else if(link=== "Economy") {%>  
    <!-- worlds economy --> 
    <div class="worlds-economy">
        <h1 class="opacity-down">Economy.</h1>
        <div class="border-bottom"></div>
        <h1>The Top 5 Economies in the World 2020</h1>
        <div class="img">
            <img src="/images/economy.jpg" alt="">
            <img src="/images/economy2.png" alt="">
        </div>
       
        <h2>Countries by GDP</h2>
        <p>The different phases of economic cycles toss economies around the world. However, it’s interesting to see that these top economies don't budge easily from the positions they hold. When compared to the top 20 economies of 1980, 17 are still present on the list, which means only three new entrants.</p>
        <h3>1. United States</h3>
        <h4>U.S. Nominal GDP: $21.44 trillion - U.S. GDP (PPP): $21.44 trillion</h4>
        <p>When the economies are assessed in terms of purchasing power parity, the U.S. loses its top spot to its close competitor China. In 2019, the U.S. economy, in terms of GDP (PPP), was at $21.44 trillion, while the Chinese economy was measured at $27.31 trillion. The gap between the size of the two economies in terms of nominal GDP is expected to lessen by 2023; the U.S. economy is projected to grow to $24.88 trillion by 2023, followed closely by China at $19.41 trillion.</p>
        <h3>2. China</h3>
        <h4>China Nominal GDP: $14.14 trillion - China GDP (PPP): $27.31 trillion</h4>
        <p>The IMF projects a growth of 5.8% in 2020, which would sober down to around 5.6% by 2023. Over the years, the difference in the size of the Chinese and the U.S. economy has been shrinking rapidly. In 2018, the Chinese GDP in nominal terms stood at $13.37 trillion, lower than the U.S. by $7.21 trillion. In 2020, the gap is expected to reduce to $7.05 trillion, and by 2023, the difference would be $5.47 trillion. In terms of GDP in PPP, China is the largest economy, with a GDP (PPP) of $25.27 trillion. By 2023, China's GDP (PPP) would be $36.99 trillion. China's huge population brings down its GDP per capita to $10,100 (seventieth position).</p>
        <h3>3. Japan</h3>
        <h4>Japan Nominal GDP: $5.15 trillion- Japan GDP (PPP): $5.75 trillion</h4>
        <p>Japan is the third-largest economy in the world, with its GDP crossing the $5 trillion mark in 2019. The financial crisis of 2008 rocked the Japanese economy and it's been a challenging time for its economy since then. The global crisis triggered a recession, followed by weak domestic demand and huge public debt. When the economy was beginning to recover, it suffered a massive earthquake that hit the country socially and economically. While the economy has broken the deflationary spiral, economic growth remains muted. </p>
        <p>Its economy will get some stimulus with the 2020 Olympics keeping the investment flow strong, which is backed by a lax monetary policy by the Bank of Japan. Japan slips to the fourth spot when GDP is measured in terms of PPP; GDP (PPP) is $5.75 trillion in 2019, while its GDP per capita is $40,850 (24th spot).</p>
        <h3>4. Germany</h3>
        <h4>Germany Nominal GDP: $3.86 trillion - Germany GDP (PPP): $4.44 trillion</h4>
        <p> Germany is not just Europe's largest economy but also the strongest. On the global scale, it is the fourth-largest economy in terms of nominal GDP, with a $4 trillion GDP. The size of its GDP in terms of purchasing power parity is $4.44 trillion, while its GDP per capita is $46,560 (18th place). Germany was the third-largest economy in nominal terms in 1980, with a GDP of $850.47 billion.</p>
        <h3>5. India</h3>
        <h4>India Nominal GDP: $2.94 trillion-India GDP (PPP): $10.51 trillion</h4>
        <p>India is the fastest-growing trillion-dollar economy in the world and the fifth-largest overall, with a nominal GDP of $2.94 trillion. India has become the fifth-largest economy in 2019, overtaking the United Kingdom and France. The country ranks third when GDP is compared in terms of purchasing power parity at $11.33 trillion. When it comes to calculating GDP per capita, India's high population drags its nominal GDP per capita down to $2,170. The Indian economy was just $189.438 billion in 1980, ranking 13th on the list globally. India's growth rate is expected to rise from 7.3% in 2018 to 7.5% in 2019 as drags from the currency exchange initiative and the introduction of the goods and services tax fade, according to the IMF.</p>
        <p>India’s post-independence journey began as an agrarian nation; however, over the years the manufacturing and services sector has emerged strongly. Today, its service sector is the fastest-growing sector in the world, contributing to more than 60% to its economy and accounting for 28% of employment. Manufacturing remains as one of its crucial sectors and is being given due push via the governments' initiatives, such as "Make in India." Although the contribution of its agricultural sector has declined to around 17%, it still is way higher in comparison to the western nations. The economy's strength lies in a limited dependence on exports, high saving rates, favorable demographics, and a rising middle class. </p>
    </div>
 <% }else if(link=== "Education") { %>    
    <!-- education --> 
    <div class="education-container">
        <h1>Education trends to watch in 2020</h1>
        <i><p>The following are the trends that will pave the way for creating levers for a stronger education system in the future.</p></i>
        <img src="/images/education.webp" alt="">
         <small>
           <i class="fas fa-user">Wriiten by himanshu pathak April 15, 2020</i>
         </small>
        <h2>What are the trends which will dominate 2020?</h2>
        <p>Let us examine the trends that will dominate the specialized education space in India in the year 2020. These trends also explain why there has been a distinct surge in online education in the country-a trend that will continue to dominate throughout the year 2020.</p>
        <h3>Online courses will be more job-oriented</h3>
        <p>Online courses are a quicker route for churning out employable professionals. In this context, we are seeing industries collaborating with colleges as well as educational start-ups to prepare courses in tune with the current market demands, making online course students readily employable.</p>
        <h3>Easier enrolment and access</h3>
        <p>Online learning programs are much easier to enroll for and to access, compared to the traditional model of education. Students can participate in the course as well as carry out the study formalities like fees payment from the comfort of their homes. Also, the fees are much lower than what one has to pay for traditional education.</p>
        <h3>Income Sharing Agreement (ISA) model</h3>
        <p>Lastly, nowadays, several colleges, institutes, and even niche education programs, have started experimenting with a novel, Income sharing Agreement (ISA) model. In this, the educational institute/company agrees to bear the expenditure of learning of the students and the student, in turn, agrees to share her/ his income once (s)he gets hired after the course is completed to pay for the course fee.</p>
    </div>
 </div>
<% } %>    
<%- include("Partials/editPageFooter"); -%>