@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
body{
    width: 100%;
    font-family: 'Open sans', sans-serif;
    background: #e2dedd;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header section */
#header{
    display: flex;
    justify-content: space-between;
      max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
#header .logo img{
    width: 230px;
}
.navitems{
    display: flex;
    list-style: none;
    justify-content: flex-start;
}
#header .navitems .items {
  margin: 16px 8px;
  padding: 10px;
 
}
.logo{
    margin-top: 16px;
}
#header .navitems .items a.current-a{
   opacity: .7;
}
#header .navitems .items a{
    text-decoration: none;
    color: #f4f4f4;
}
.items a:hover{ 
    opacity: 0.5;
}
#navbar{
    background: #293043;
}
/* main */
#post-section{
 margin-bottom: 20px;
}
.post-container{
    display: flex;
    border-radius: 15px;
    max-width: 1100px;
    margin: auto;
    padding:  1rem 2rem;
    margin-top: 20px;
    background: #ffff;
    min-height: 300px;
}
.btn-p{
    padding: 3px 15px;
    margin: 10px 0px 0px 5px;
    font-size: 1.5rem;
    color: #ffff;
    background: #1ABFC1;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s linear;
}
.btn-p:hover{
  opacity: 0.9;
  background: #777 ;
  color: white;
}
.small-container{
    display: flex;
}
.innerPost-container{
    margin-bottom: 50px;
   
}
.edit-btn{
    background-color: rgb(17, 165, 17);
}
